{% extends 'base.html' %} {%block content%} {{block.super}}

<div class="container-fluid">
  <!-- Looping through news   -->
  <div class="row" data-masonry='{"percentPosition": true}'>
    <!--Display Images  -->
    {% for image in image %}
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
      <img
        src="{{image.image.url}}"
        class="img-responsive img-fluid"
        alt="Image"
      />
    </div>

    {% empty %}
    <h2 class="text-center">There are no images to display at the moment</h2>
    {% endfor %}
  </div>
</div>

{%endblock%}
